body{
    height: 100vh;
    background: url('../../images/pattern/pattern_marble.jpg') repeat;

}

section{

}

.main-content-wrapper{
    padding: 20px;
    height: 100%;
}

.main-content{
    background-color: white;
    height: 100%;
}

.main-content__item{
    // height: 100%;
    // width: 100%;
}

.container{

}

.film-details-container{
    position: absolute;
    top: -20px;
    left: -20px;
    height: 100vh;
    width: 100vw;
}
