.main-content__item{
  transition: opacity 0.3s linear;
  opacity: 0;

  &.selected{
      opacity: 1;
  }
}

.media-element-holder{
    width: 100%;
    height: 100%;
}

.ratio{
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: cover;
    margin: 20px;
    z-index: 1;
    text-align: center;
}

.button{
    width: 134px;
    height: 40px;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    margin: 0px auto;
    margin-top: 20px;
    transition: opacity 0.5s ease;
    text-align: center;
    display: inline-block;

    &:before{
        content: '';
        display: block;
        position: absolute;
        height: 7px;
        width: 7px;
        background-image: url('../../images/link-flair.svg');
        left: 2px;
        bottom: 2px;
    }

    &:hover{
        opacity: 0.65;
    }
}

.button--play{
    .button__text{
     padding-top: 9px;
     color: white;
     margin: 0px auto;
     display: inline-block;
    }
}

.film-details{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px auto;
    left: 0;
    right: 0;
    margin-top: 90px;

    .open &{
        @media handheld, screen and (min-width: $medium-breakpoint){
            left: 53%;
            right: auto;
        }
    }



    .button{
        margin: 0px auto;
        text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.32);
        box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.32);
    }
}

.film-details__watch-holder{
    margin-top: 100px;
    text-align: center;
}

.film-details__text{
    margin-bottom: 15px;
    @include font-size(21);
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.32);
}

.video{
    height:100%;
    overflow: hidden;

    video{
        object-fit: cover;
    }
}

#i-shot-einstein{
    .ratio{
        background-image: url('../../images/film_poster/bg_ishoteinstein.jpg');
    }
}

#flashing-lights{
    .ratio{
        background-image: url('../../images/film_poster/bg_flashinglights.jpg');
        background-position: 10%;
    }
}

#wake-n-bake{
    .ratio{
        background-image: url('../../images/film_poster/bg_wakeandbake.jpg');
    }
}

#one-green-seat{
    .ratio{
        background-image: url('../../images/film_poster/bg_onegreenseat.jpg');
    }
}

#roots-rock-reggae{
    .ratio{
        background-image: url('../../images/film_poster/bg_rootsrockreggae.jpg');
    }
}
